
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Thank you for your Order</h2>
        <br /><br />
        <div class="col-lg-10">
            <p>Your Order will be available to you soon</p>
        </div>
        <br />
        <br />
        <div class="col-lg-10">
            <p>
                <a href="/" class="btn btn-primary">Continue Shopping</a>
            </p>
        </div>
    </div>
</div>


